<nav class="navbar navbar-default" *ngIf="userService.visible">
  <div class="container-fluid">
    <div class="navbar-header">
      <ul class="nav navbar-nav">
        <li>
          <a [routerLink]="['/app/home']"><h4>Home</h4></a>
        </li>
        <li>
          <a [routerLink]="['/app/wallet']"><h4>Wallet</h4></a>
        </li>
        <li>
          <a [routerLink]="['/app/addMoney']"><h4>Add Money</h4></a>
        </li>
        <li>
          <a [routerLink]="['/app/payMoney']"><h4>Pay Money</h4></a>
        </li>
        <li>
          <a [routerLink]="['/app/transactions']"><h4>History</h4></a>
        </li>
        <li>
          <a [routerLink]="['/app/login']" (click)="onClick()"
            ><h4>Logout</h4></a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
