<div class="logo">
  <img data-test="logoComponent" src="assets/epaylogo.jpeg" />
</div>
<h2 data-test="mainHeaderComponent">Welcome to E-PAY</h2>
<br /><br /><br />

<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-xs-4 thumb">
      <img class="img-responsive" src="assets/add_money.png" />

      <h2>
        <a [routerLink]="['/app/addMoney']" class="btn btn-link text-center"
          >Add Money</a
        >
      </h2>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-4 thumb">
      <img class="img-responsive" src="assets/send_money.jpeg" />
      <h1>
        <a
          [routerLink]="['/app/payMoney']"
          class="btn btn-link caption text-center"
          >Pay Money</a
        >
      </h1>
    </div>
    <div class="col-lg-4 col-md-4 col-xs-4 thumb">
      <img class="img-responsive" src="assets/wallet.jpeg" />
      <h2>
        <a [routerLink]="['/app/wallet']" class="btn btn-link text-center"
          >Wallet</a
        >
      </h2>
    </div>
  </div>
</div>
