.person-wrapper {
  margin-bottom: 2em;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h2 {
  margin-left: auto;
  margin-right: auto;
  width: 563px;
  height: 34px;
}
