<h2>Login to continue</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="Email">Email</label>
    <input
      type="text"
      formControlName="Email"
      id="login-email"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.Email.errors }"
    />
    <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
      <div *ngIf="f.Email.errors.required">*Email is required</div>
    </div>
    <br />
    <label for="Password">Password</label>
    <input
      type="Password"
      formControlName="Password"
      id="login-password"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.Password.errors }"
    />
    <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
      <div *ngIf="f.Password.errors.required">*Password is required</div>
    </div>
    <br />
    <button [disabled]="loading" class="btn btn-primary">Login</button>
  </div>
</form>
