<div>
  <div class="content-container">
    <span class="content-span full-width">{{ data.message }}</span>
  </div>
  <button mat-flat-button id="no-button" [mat-dialog-close]="false">
    Ok
  </button>
</div>
