/* You can add global styles to this file, and also import other style files */
.confirm-dialog-container .content-container {
  color: #8f9cb5;
  /* display: flex; */
}

.confirm-dialog-container #no-button {
  height: 50px;
  width: 50%;
  background-color: #fc7169;
  color: white;
  border-radius: 0px;
}

.confirm-dialog-container #yes-button {
  height: 50px;
  width: 50%;
  background-color: #b6bece;
  color: white;
  border-radius: 0px;
}

.confirm-dialog-container span.content-span {
  padding: 19px 24px 24px 24px;
  text-align: center;
  font-size: 20px;
  color: black;
}

.mat-dialog-container {
  padding-left: 19px;
}

.notify-dialog-container .content-container {
  color: #8f9cb5;
  display: flex;
}

.notify-dialog-container #no-button {
  height: 44px;
  width: 120px;
  background-color: #fc7169;
  color: white;
  border-radius: 0px;
  margin-left: 100px;
}

.notify-dialog-container span.content-span {
  padding: 19px 24px 24px 24px;
  text-align: center;
  font-size: 20px;
  color: black;
}

.mat-dialog-container {
  padding-left: 19px;
  margin-left: 0px;
  margin: auto;
}

.cdk-overlay-container {
  position: fixed;
  top: 0;
  right: 25px;
}
