<h2>Register to Epay</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="Name">Name</label>
    <input
      type="text"
      formControlName="Name"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.Name.errors }"
    />
    <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
      <div *ngIf="f.Name.errors.required">*Name is required</div>
    </div>
    <br />
    <label for="Email">Email</label>
    <input
      type="text"
      formControlName="Email"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.Email.errors }"
    />
    <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
      <div *ngIf="f.Email.errors.required">*Email is required</div>
      <div *ngIf="f.Email.errors.email">*Enter a valid email address</div>
    </div>
    <br />
    <label for="MobileNumber">MobileNumber</label>
    <input
      type="text"
      formControlName="MobileNumber"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.MobileNumber.errors }"
    />
    <div *ngIf="submitted && f.MobileNumber.errors" class="invalid-feedback">
      <div *ngIf="f.MobileNumber.errors.required">
        *MobileNumber is required
      </div>
      <div *ngIf="f.MobileNumber.errors.minlength">
        *Enter a valid mobile number
      </div>
      <div *ngIf="f.MobileNumber.errors.maxlength">
        *Enter a valid mobile number
      </div>
    </div>
    <br />
    <label for="Password">Password</label>
    <input
      type="Password"
      formControlName="Password"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.Password.errors }"
    />
    <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
      <div *ngIf="f.Password.errors.required">*Password is required</div>
      <div *ngIf="f.Password.errors.minlength">
        *Password must be at least 6 characters
      </div>
    </div>
    <br />
    <button [disabled]="loading" class="btn btn-primary rbutton">
      Register
    </button>
    <a [routerLink]="['/app/login']" class="btn btn-primary lbutton">Login</a>
  </div>
</form>
