<h2>Add Money</h2>
<form [formGroup]="addForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="Amount">Amount</label>
    <input
      type="number"
      formControlName="Amount"
      class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.Amount.errors }"
    />
    <div *ngIf="submitted && f.Amount.errors" class="invalid-feedback">
      <div *ngIf="f.Amount.errors.required">Amount is required !</div>
      <div *ngIf="f.Amount.errors.max">Maximum limit is 20000 !</div>
      <div *ngIf="f.Amount.errors.min">Enter a valid amount !</div>
    </div>
    <br />
    <br />
    <button [disabled]="loading" class="btn btn-primary">Add</button>
  </div>
</form>
