<div class="container" *ngIf="transactions">
  <table class="table">
    <thead>
      <tr>
        <th>Sender</th>
        <th>Receiver</th>
        <th>Amount</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions">
        <td>{{ transaction.Sender }}</td>
        <td>{{ transaction.Receiver }}</td>
        <td>{{ transaction.Amount }}</td>
        <td>{{ transaction.Type }}</td>
      </tr>
    </tbody>
  </table>
</div>
